<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.broadcast">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Broadcast">
<!--        静态注册广播接收者-->
        <receiver
                android:name=".MyReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
<!--                设置广播频道为如下字符串，一般命名规则为包名加自己想定义的名字-->
                <action android:name="com.example.broadcast.I_LOVE_YOU"/>
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>